@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/v2.0 | 20110126 License: none (public domain) */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: middle;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;
  text-align: inherit;
  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;
  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

textarea {
  resize: none;
}

/* ----------FUNCTION---------- */
/* ----------MININ---------- */
/*自訂scroll樣式 
參數:垂直ScrollBar寬，水平ScrollBar寬，Bar顏色，拖曳Bar顏色*/
/*繪製三角形
參數:方向，邊長，顏色*/
/* ----------Extend---------- */
/*background*/
.nodata::before, #footer .contentbox .left .logoBox img, #headBanner .bannerImg {
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.pagebtnbox .preBtn, .pagebtnbox .nextBtn {
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

/*hover*/
@media screen and (min-width: 768px) {
  .pagebtnbox .preBtn, .pagebtnbox .nextBtn, .pagebtnbox .pageBtn, #footer .contentbox .right .share a {
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  }
  .pagebtnbox .preBtn:hover, .pagebtnbox .nextBtn:hover, .pagebtnbox .pageBtn:hover, #footer .contentbox .right .share a:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}

/*#region col*/
.col100 {
  width: 100%;
}

.col90 {
  width: 90%;
}

.col85 {
  width: 85%;
}

.col80 {
  width: 80%;
}

.col75 {
  width: 75%;
}

.col70 {
  width: 70%;
}

.col66 {
  width: 66.6666%;
}

.col65 {
  width: 65%;
}

.col60 {
  width: 60%;
}

.col55 {
  width: 55%;
}

.col50 {
  width: 50%;
}

.col45 {
  width: 45%;
}

.col40 {
  width: 40%;
}

.col35 {
  width: 35%;
}

.col30 {
  width: 30%;
}

.col33 {
  width: 33.3333%;
}

.col25 {
  width: 25%;
}

.col20 {
  width: 20%;
}

.col16 {
  width: 16.6666667%;
}

.col15 {
  width: 15%;
}

/*#endregion col*/
.w1920 {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.w1200 {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

@media screen and (max-width: 1023px) {
  .w1200 {
    width: 90%;
  }
}

@media screen and (max-width: 480px) {
  .w1200 {
    width: 95%;
  }
}

.w800 {
  width: 70%;
  max-width: 800px;
  margin: 0 auto;
}

@media screen and (max-width: 1023px) {
  .w800 {
    width: 90%;
  }
}

@media screen and (max-width: 480px) {
  .w800 {
    width: 95%;
  }
}

/* ----------Scrollbar Initial---------- */
::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
  width: 4px;
  background-color: #A0A0A0;
}

::-webkit-scrollbar:horizontal {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #f5f5f5;
}

/* ----------VARIABLES---------- */
/*color*/
/*container*/
/* ----------Initial Setting---------- */
html {
  font-size: 14px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font: inherit;
  color: inherit;
}

body {
  font-family: sans-serif;
  color: #151B28;
  background-color: #FFFFFF;
  overflow-x: hidden;
}

@media screen and (max-width: 480px) {
  html {
    font-size: 14px;
  }
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

/* ----------text---------- */
h1 {
  font-size: 2.71429rem;
  color: #151B28;
  line-height: 1.2;
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 300;
}

@media screen and (max-width: 1023px) {
  h1 {
    font-size: 2.14286rem;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.85714rem;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 1.57143rem;
  }
}

h2 {
  font-size: 2.57143rem;
  color: #151B28;
  line-height: 1.2;
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 300;
}

@media screen and (max-width: 1023px) {
  h2 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 768px) {
  h2 {
    font-size: 1.71429rem;
  }
}

@media screen and (max-width: 480px) {
  h2 {
    font-size: 1.42857rem;
  }
}

h3 {
  font-size: 2.14286rem;
  color: #151B28;
  line-height: 1.2;
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 300;
}

@media screen and (max-width: 1023px) {
  h3 {
    font-size: 1.85714rem;
  }
}

@media screen and (max-width: 768px) {
  h3 {
    font-size: 1.57143rem;
  }
}

@media screen and (max-width: 480px) {
  h3 {
    font-size: 1.28571rem;
  }
}

h4 {
  font-size: 1.92857rem;
  color: #151B28;
  line-height: 1.2;
  letter-spacing: 5px;
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 300;
}

@media screen and (max-width: 1023px) {
  h4 {
    font-size: 1.71429rem;
  }
}

@media screen and (max-width: 768px) {
  h4 {
    font-size: 1.42857rem;
  }
}

@media screen and (max-width: 480px) {
  h4 {
    font-size: 1.28571rem;
  }
}

h5 {
  font-size: 1.57143rem;
  color: #151B28;
  line-height: 1.2;
  letter-spacing: 5px;
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 300;
}

@media screen and (max-width: 1023px) {
  h5 {
    font-size: 1.42857rem;
  }
}

@media screen and (max-width: 768px) {
  h5 {
    font-size: 1.28571rem;
  }
}

@media screen and (max-width: 480px) {
  h5 {
    font-size: 1.14286rem;
  }
}

h6 {
  font-size: 1.42857rem;
  color: #151B28;
  line-height: 1.2;
  letter-spacing: 2px;
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 300;
}

@media screen and (max-width: 1023px) {
  h6 {
    font-size: 1.28571rem;
  }
}

@media screen and (max-width: 768px) {
  h6 {
    font-size: 1.14286rem;
  }
}

@media screen and (max-width: 480px) {
  h6 {
    font-size: 1.07143rem;
  }
}

p,
ul,
li,
label,
input,
textarea {
  font-size: 1.28571rem;
  color: #151B28;
  line-height: 1.6;
  letter-spacing: 2px;
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: 1;
  font-weight: 300;
}

@media screen and (max-width: 1023px) {
  p,
  ul,
  li,
  label,
  input,
  textarea {
    font-size: 1.14286rem;
  }
}

@media screen and (max-width: 768px) {
  p,
  ul,
  li,
  label,
  input,
  textarea {
    font-size: 1.07143rem;
  }
}

@media screen and (max-width: 480px) {
  p,
  ul,
  li,
  label,
  input,
  textarea {
    font-size: 1rem;
  }
}

a, span, strong {
  font-family: inherit;
  font-size: inherit;
  letter-spacing: inherit;
  color: inherit;
  line-height: inherit;
}

strong {
  font-weight: 500;
}

small {
  font-size: 1.14286rem;
  color: #151B28;
  line-height: 1.6;
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 300;
}

@media screen and (max-width: 1023px) {
  small {
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  small {
    font-size: 0.92857rem;
  }
}

@media screen and (max-width: 480px) {
  small {
    font-size: 0.85714rem;
  }
}

input,
textarea {
  padding: 0 10px;
}

textarea {
  padding-top: 10px;
}

.dash {
  width: 40px;
  height: 1px;
  background-color: #5197bd;
  margin-top: 10px;
  margin-bottom: 15px;
}

.bread {
  margin-top: 20px;
  margin-bottom: 40px;
}

.bread .content {
  font-size: 0.8rem;
  color: #00000080;
}

@media screen and (max-width: 1023px) {
  .bread {
    margin-bottom: 0px;
  }
  .bread .content {
    display: none;
  }
}

.pagebtnbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagebtnbox .preBtn, .pagebtnbox .nextBtn, .pagebtnbox .pageBtn {
  display: block;
  margin: 0 20px;
}

.pagebtnbox .pageBtn {
  font-size: 1.42857rem;
}

@media screen and (max-width: 1023px) {
  .pagebtnbox .pageBtn {
    font-size: 1.28571rem;
  }
}

@media screen and (max-width: 768px) {
  .pagebtnbox .pageBtn {
    font-size: 1.14286rem;
  }
}

@media screen and (max-width: 480px) {
  .pagebtnbox .pageBtn {
    font-size: 1.07143rem;
  }
}

.pagebtnbox .pageBtn.active {
  color: #5197bd;
}

.pagebtnbox .preBtn, .pagebtnbox .nextBtn {
  width: 15px;
  height: 20px;
  background-image: url("../img/icon/arrowPage-left.png");
}

.pagebtnbox .nextBtn {
  background-image: url("../img/icon/arrowPage-right.png");
}

@media screen and (max-width: 768px) {
  .pagebtnbox .preBtn, .pagebtnbox .nextBtn, .pagebtnbox .pageBtn {
    margin: 0 15px;
  }
}

@media screen and (max-width: 480px) {
  .pagebtnbox .preBtn, .pagebtnbox .nextBtn, .pagebtnbox .pageBtn {
    margin: 0 10px;
  }
}

.pageContainer {
  position: relative;
  width: 100%;
  background-color: #cbd8e0;
  padding: 20px 60px;
  z-index: 0;
}

.pageContainer::before {
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  top: 2px;
  padding-bottom: 12%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/common/banner-wave.png");
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  z-index: 0;
}

.pageContainer::after {
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  top: 40%;
  padding-bottom: 36%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/common/page-wave.png");
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: -1;
}

.pageContainer .headField {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 70px;
}

.pageContainer .headField .titleBox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.pageContainer .headField .titleBox .title {
  margin-right: 15px;
  color: #5099bf;
  font-weight: 500;
  position: relative;
}

.pageContainer .headField .titleBox .title::before {
  content: '';
  position: absolute;
  left: -10px;
  top: 50%;
  width: 50px;
  height: 25px;
  -webkit-transform: translate(-100%, -50%);
      -ms-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/icon/title-mark.png");
}

.pageContainer .headField .titleBox .subTitle {
  color: #8c8a8a;
  font-weight: 500;
}

.pageContainer .contentField .block {
  margin-bottom: 50px;
}

.pageContainer .contentField .block .titleBox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-bottom: 15px;
  margin-right: 20px;
}

.pageContainer .contentField .block .titleBox .text {
  line-height: 40px;
}

.pageContainer .contentField .block .titleBox.border {
  border-bottom: 2px solid #5099bf;
}

.pageContainer .contentField .block .text {
  margin-bottom: 10px;
}

.pageContainer .contentField .block .text, .pageContainer .contentField .block .text * {
  line-height: 40px;
}

.pageContainer .contentField .block .text.bold {
  font-weight: 400;
}

.pageContainer .contentField .block .text.bolder {
  font-weight: 500;
}

.pageContainer .contentField .block .text.blue {
  color: #5099bf;
}

.pageContainer .contentField .block img {
  display: block;
  height: auto;
  max-width: 100%;
  margin-bottom: 10px;
}

.pageContainer .contentField .block img.fit-content {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.pageContainer .contentField .block .tabBox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.pageContainer .contentField .block .tabBox .tab {
  padding: 0px 20px;
  padding-top: 7px;
  padding-bottom: 2px;
  background-color: #5099bf;
  margin-right: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.pageContainer .contentField .block .tabBox .tab .text {
  color: #FFFFFF;
  font-weight: 400;
  line-height: 1;
}

.pageContainer .contentField .block .tabBox .tab.active {
  background-color: #88bfe8;
}

.pageContainer .contentField .block .tabBox .tab.active .text {
  color: #151B28;
}

.pageContainer .contentField .block .tabBox.border {
  border-bottom: 2px solid #5099bf;
}

.pageContainer .contentField .block .flexBox {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.pageContainer .contentField .block .flexBox.nowrap {
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}

@media screen and (max-width: 1023px) {
  .pageContainer .contentField .block .flexBox.nowrap .col100 {
    max-width: 100%;
    width: calc(100% - 10px);
    margin-right: 10px;
  }
  .pageContainer .contentField .block .flexBox.nowrap .col90 {
    max-width: 90%;
    width: calc(90% - 10px);
    margin-right: 10px;
  }
  .pageContainer .contentField .block .flexBox.nowrap .col85 {
    max-width: 85%;
    width: calc(85% - 10px);
    margin-right: 10px;
  }
  .pageContainer .contentField .block .flexBox.nowrap .col80 {
    max-width: 80%;
    width: calc(80% - 10px);
    margin-right: 10px;
  }
  .pageContainer .contentField .block .flexBox.nowrap .col75 {
    max-width: 75%;
    width: calc(75% - 10px);
    margin-right: 10px;
  }
  .pageContainer .contentField .block .flexBox.nowrap .col70 {
    max-width: 70%;
    width: calc(70% - 10px);
    margin-right: 10px;
  }
  .pageContainer .contentField .block .flexBox.nowrap .col66 {
    max-width: 66.6666%;
    width: calc(66.6666% - 10px);
    margin-right: 10px;
  }
  .pageContainer .contentField .block .flexBox.nowrap .col65 {
    max-width: 65%;
    width: calc(65% - 10px);
    margin-right: 10px;
  }
  .pageContainer .contentField .block .flexBox.nowrap .col60 {
    max-width: 60%;
    width: calc(60% - 10px);
    margin-right: 10px;
  }
  .pageContainer .contentField .block .flexBox.nowrap .col55 {
    max-width: 55%;
    width: calc(55% - 10px);
    margin-right: 10px;
  }
  .pageContainer .contentField .block .flexBox.nowrap .col50 {
    max-width: 50%;
    width: calc(50% - 10px);
    margin-right: 10px;
  }
  .pageContainer .contentField .block .flexBox.nowrap .col45 {
    max-width: 45%;
    width: calc(45% - 10px);
    margin-right: 10px;
  }
  .pageContainer .contentField .block .flexBox.nowrap .col40 {
    max-width: 40%;
    width: calc(40% - 10px);
    margin-right: 10px;
  }
  .pageContainer .contentField .block .flexBox.nowrap .col35 {
    max-width: 35%;
    width: calc(35% - 10px);
    margin-right: 10px;
  }
  .pageContainer .contentField .block .flexBox.nowrap .col30 {
    max-width: 30%;
    width: calc(30% - 10px);
    margin-right: 10px;
  }
  .pageContainer .contentField .block .flexBox.nowrap .col33 {
    max-width: 33.3333%;
    width: calc(33.3333% - 10px);
    margin-right: 10px;
  }
  .pageContainer .contentField .block .flexBox.nowrap .col25 {
    max-width: 25%;
    width: calc(25% - 10px);
    margin-right: 10px;
  }
  .pageContainer .contentField .block .flexBox.nowrap .col20 {
    max-width: 20%;
    width: calc(20% - 10px);
    margin-right: 10px;
  }
  .pageContainer .contentField .block .flexBox.nowrap .col16 {
    max-width: 16.6666667%;
    width: calc(16.6666667% - 10px);
    margin-right: 10px;
  }
  .pageContainer .contentField .block .flexBox.nowrap .col15 {
    max-width: 15%;
    width: calc(15% - 10px);
    margin-right: 10px;
  }
  .pageContainer .contentField .block .flexBox.nowrap.gap-20 .col100 {
    max-width: 100%;
    width: calc(100% - 20px);
    margin-right: 20px;
  }
  .pageContainer .contentField .block .flexBox.nowrap.gap-20 .col90 {
    max-width: 90%;
    width: calc(90% - 20px);
    margin-right: 20px;
  }
  .pageContainer .contentField .block .flexBox.nowrap.gap-20 .col85 {
    max-width: 85%;
    width: calc(85% - 20px);
    margin-right: 20px;
  }
  .pageContainer .contentField .block .flexBox.nowrap.gap-20 .col80 {
    max-width: 80%;
    width: calc(80% - 20px);
    margin-right: 20px;
  }
  .pageContainer .contentField .block .flexBox.nowrap.gap-20 .col75 {
    max-width: 75%;
    width: calc(75% - 20px);
    margin-right: 20px;
  }
  .pageContainer .contentField .block .flexBox.nowrap.gap-20 .col70 {
    max-width: 70%;
    width: calc(70% - 20px);
    margin-right: 20px;
  }
  .pageContainer .contentField .block .flexBox.nowrap.gap-20 .col66 {
    max-width: 66.6666%;
    width: calc(66.6666% - 20px);
    margin-right: 20px;
  }
  .pageContainer .contentField .block .flexBox.nowrap.gap-20 .col65 {
    max-width: 65%;
    width: calc(65% - 20px);
    margin-right: 20px;
  }
  .pageContainer .contentField .block .flexBox.nowrap.gap-20 .col60 {
    max-width: 60%;
    width: calc(60% - 20px);
    margin-right: 20px;
  }
  .pageContainer .contentField .block .flexBox.nowrap.gap-20 .col55 {
    max-width: 55%;
    width: calc(55% - 20px);
    margin-right: 20px;
  }
  .pageContainer .contentField .block .flexBox.nowrap.gap-20 .col50 {
    max-width: 50%;
    width: calc(50% - 20px);
    margin-right: 20px;
  }
  .pageContainer .contentField .block .flexBox.nowrap.gap-20 .col45 {
    max-width: 45%;
    width: calc(45% - 20px);
    margin-right: 20px;
  }
  .pageContainer .contentField .block .flexBox.nowrap.gap-20 .col40 {
    max-width: 40%;
    width: calc(40% - 20px);
    margin-right: 20px;
  }
  .pageContainer .contentField .block .flexBox.nowrap.gap-20 .col35 {
    max-width: 35%;
    width: calc(35% - 20px);
    margin-right: 20px;
  }
  .pageContainer .contentField .block .flexBox.nowrap.gap-20 .col30 {
    max-width: 30%;
    width: calc(30% - 20px);
    margin-right: 20px;
  }
  .pageContainer .contentField .block .flexBox.nowrap.gap-20 .col33 {
    max-width: 33.3333%;
    width: calc(33.3333% - 20px);
    margin-right: 20px;
  }
  .pageContainer .contentField .block .flexBox.nowrap.gap-20 .col25 {
    max-width: 25%;
    width: calc(25% - 20px);
    margin-right: 20px;
  }
  .pageContainer .contentField .block .flexBox.nowrap.gap-20 .col20 {
    max-width: 20%;
    width: calc(20% - 20px);
    margin-right: 20px;
  }
  .pageContainer .contentField .block .flexBox.nowrap.gap-20 .col16 {
    max-width: 16.6666667%;
    width: calc(16.6666667% - 20px);
    margin-right: 20px;
  }
  .pageContainer .contentField .block .flexBox.nowrap.gap-20 .col15 {
    max-width: 15%;
    width: calc(15% - 20px);
    margin-right: 20px;
  }
}

.pageContainer .contentField .block .flexBox.gap-20 .col100 {
  max-width: 100%;
  width: calc(100% - 20px);
  margin-right: 20px;
}

.pageContainer .contentField .block .flexBox.gap-20 .col90 {
  max-width: 90%;
  width: calc(90% - 20px);
  margin-right: 20px;
}

.pageContainer .contentField .block .flexBox.gap-20 .col85 {
  max-width: 85%;
  width: calc(85% - 20px);
  margin-right: 20px;
}

.pageContainer .contentField .block .flexBox.gap-20 .col80 {
  max-width: 80%;
  width: calc(80% - 20px);
  margin-right: 20px;
}

.pageContainer .contentField .block .flexBox.gap-20 .col75 {
  max-width: 75%;
  width: calc(75% - 20px);
  margin-right: 20px;
}

.pageContainer .contentField .block .flexBox.gap-20 .col70 {
  max-width: 70%;
  width: calc(70% - 20px);
  margin-right: 20px;
}

.pageContainer .contentField .block .flexBox.gap-20 .col66 {
  max-width: 66.6666%;
  width: calc(66.6666% - 20px);
  margin-right: 20px;
}

.pageContainer .contentField .block .flexBox.gap-20 .col65 {
  max-width: 65%;
  width: calc(65% - 20px);
  margin-right: 20px;
}

.pageContainer .contentField .block .flexBox.gap-20 .col60 {
  max-width: 60%;
  width: calc(60% - 20px);
  margin-right: 20px;
}

.pageContainer .contentField .block .flexBox.gap-20 .col55 {
  max-width: 55%;
  width: calc(55% - 20px);
  margin-right: 20px;
}

.pageContainer .contentField .block .flexBox.gap-20 .col50 {
  max-width: 50%;
  width: calc(50% - 20px);
  margin-right: 20px;
}

.pageContainer .contentField .block .flexBox.gap-20 .col45 {
  max-width: 45%;
  width: calc(45% - 20px);
  margin-right: 20px;
}

.pageContainer .contentField .block .flexBox.gap-20 .col40 {
  max-width: 40%;
  width: calc(40% - 20px);
  margin-right: 20px;
}

.pageContainer .contentField .block .flexBox.gap-20 .col35 {
  max-width: 35%;
  width: calc(35% - 20px);
  margin-right: 20px;
}

.pageContainer .contentField .block .flexBox.gap-20 .col30 {
  max-width: 30%;
  width: calc(30% - 20px);
  margin-right: 20px;
}

.pageContainer .contentField .block .flexBox.gap-20 .col33 {
  max-width: 33.3333%;
  width: calc(33.3333% - 20px);
  margin-right: 20px;
}

.pageContainer .contentField .block .flexBox.gap-20 .col25 {
  max-width: 25%;
  width: calc(25% - 20px);
  margin-right: 20px;
}

.pageContainer .contentField .block .flexBox.gap-20 .col20 {
  max-width: 20%;
  width: calc(20% - 20px);
  margin-right: 20px;
}

.pageContainer .contentField .block .flexBox.gap-20 .col16 {
  max-width: 16.6666667%;
  width: calc(16.6666667% - 20px);
  margin-right: 20px;
}

.pageContainer .contentField .block .flexBox.gap-20 .col15 {
  max-width: 15%;
  width: calc(15% - 20px);
  margin-right: 20px;
}

@media screen and (max-width: 1023px) {
  .pageContainer .contentField .block .flexBox.gap-20 .col90,
  .pageContainer .contentField .block .flexBox.gap-20 .col85,
  .pageContainer .contentField .block .flexBox.gap-20 .col80,
  .pageContainer .contentField .block .flexBox.gap-20 .col75,
  .pageContainer .contentField .block .flexBox.gap-20 .col70,
  .pageContainer .contentField .block .flexBox.gap-20 .col66,
  .pageContainer .contentField .block .flexBox.gap-20 .col65,
  .pageContainer .contentField .block .flexBox.gap-20 .col60,
  .pageContainer .contentField .block .flexBox.gap-20 .col55,
  .pageContainer .contentField .block .flexBox.gap-20 .col50,
  .pageContainer .contentField .block .flexBox.gap-20 .col45,
  .pageContainer .contentField .block .flexBox.gap-20 .col40,
  .pageContainer .contentField .block .flexBox.gap-20 .col35,
  .pageContainer .contentField .block .flexBox.gap-20 .col30,
  .pageContainer .contentField .block .flexBox.gap-20 .col33,
  .pageContainer .contentField .block .flexBox.gap-20 .col25,
  .pageContainer .contentField .block .flexBox.gap-20 .col20,
  .pageContainer .contentField .block .flexBox.gap-20 .col16,
  .pageContainer .contentField .block .flexBox.gap-20 .col15 {
    width: 100%;
    max-width: 100%;
    margin-right: 0px;
  }
  .pageContainer .contentField .block .flexBox.gap-20 .text, .pageContainer .contentField .block .flexBox.gap-20 img {
    width: 100%;
    max-width: 100%;
    margin-right: 0px;
  }
}

.pageContainer .contentField .block .flexBox.wrap-reverse {
  -webkit-flex-wrap: wrap-reverse;
      -ms-flex-wrap: wrap-reverse;
          flex-wrap: wrap-reverse;
}

.pageContainer .contentField .block .flexBox.center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pageContainer .contentField .block .flexBox.right {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.pageContainer .contentField .block .flexBox.middle {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.pageContainer .contentField .block .flexBox.bottom {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.pageContainer .contentField .block .col100 {
  max-width: 100%;
  width: calc(100% - 10px);
  margin-right: 10px;
}

.pageContainer .contentField .block .col90 {
  max-width: 90%;
  width: calc(90% - 10px);
  margin-right: 10px;
}

.pageContainer .contentField .block .col85 {
  max-width: 85%;
  width: calc(85% - 10px);
  margin-right: 10px;
}

.pageContainer .contentField .block .col80 {
  max-width: 80%;
  width: calc(80% - 10px);
  margin-right: 10px;
}

.pageContainer .contentField .block .col75 {
  max-width: 75%;
  width: calc(75% - 10px);
  margin-right: 10px;
}

.pageContainer .contentField .block .col70 {
  max-width: 70%;
  width: calc(70% - 10px);
  margin-right: 10px;
}

.pageContainer .contentField .block .col66 {
  max-width: 66.6666%;
  width: calc(66.6666% - 10px);
  margin-right: 10px;
}

.pageContainer .contentField .block .col65 {
  max-width: 65%;
  width: calc(65% - 10px);
  margin-right: 10px;
}

.pageContainer .contentField .block .col60 {
  max-width: 60%;
  width: calc(60% - 10px);
  margin-right: 10px;
}

.pageContainer .contentField .block .col55 {
  max-width: 55%;
  width: calc(55% - 10px);
  margin-right: 10px;
}

.pageContainer .contentField .block .col50 {
  max-width: 50%;
  width: calc(50% - 10px);
  margin-right: 10px;
}

.pageContainer .contentField .block .col45 {
  max-width: 45%;
  width: calc(45% - 10px);
  margin-right: 10px;
}

.pageContainer .contentField .block .col40 {
  max-width: 40%;
  width: calc(40% - 10px);
  margin-right: 10px;
}

.pageContainer .contentField .block .col35 {
  max-width: 35%;
  width: calc(35% - 10px);
  margin-right: 10px;
}

.pageContainer .contentField .block .col30 {
  max-width: 30%;
  width: calc(30% - 10px);
  margin-right: 10px;
}

.pageContainer .contentField .block .col33 {
  max-width: 33.3333%;
  width: calc(33.3333% - 10px);
  margin-right: 10px;
}

.pageContainer .contentField .block .col25 {
  max-width: 25%;
  width: calc(25% - 10px);
  margin-right: 10px;
}

.pageContainer .contentField .block .col20 {
  max-width: 20%;
  width: calc(20% - 10px);
  margin-right: 10px;
}

.pageContainer .contentField .block .col16 {
  max-width: 16.6666667%;
  width: calc(16.6666667% - 10px);
  margin-right: 10px;
}

.pageContainer .contentField .block .col15 {
  max-width: 15%;
  width: calc(15% - 10px);
  margin-right: 10px;
}

@media screen and (max-width: 1023px) {
  .pageContainer .contentField .block .col90,
  .pageContainer .contentField .block .col85,
  .pageContainer .contentField .block .col80,
  .pageContainer .contentField .block .col75,
  .pageContainer .contentField .block .col70,
  .pageContainer .contentField .block .col66,
  .pageContainer .contentField .block .col65,
  .pageContainer .contentField .block .col60,
  .pageContainer .contentField .block .col55,
  .pageContainer .contentField .block .col50,
  .pageContainer .contentField .block .col45,
  .pageContainer .contentField .block .col40,
  .pageContainer .contentField .block .col35,
  .pageContainer .contentField .block .col30,
  .pageContainer .contentField .block .col33,
  .pageContainer .contentField .block .col25,
  .pageContainer .contentField .block .col20,
  .pageContainer .contentField .block .col16,
  .pageContainer .contentField .block .col15 {
    width: 100%;
    max-width: 100%;
    margin-right: 0px;
  }
  .pageContainer .contentField .block .text, .pageContainer .contentField .block img {
    width: 100%;
    max-width: 100%;
    margin-right: 0px;
  }
}

@media screen and (max-width: 768px) {
  .pageContainer {
    padding: 20px 40px;
  }
  .pageContainer .headField {
    margin-bottom: 50px;
  }
  .pageContainer .headField .titleBox {
    -webkit-transform: translateX(30px);
        -ms-transform: translateX(30px);
            transform: translateX(30px);
  }
  .pageContainer .contentField .block {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 480px) {
  .pageContainer {
    padding: 20px;
  }
  .pageContainer .headField {
    margin-bottom: 30px;
  }
  .pageContainer .headField .titleBox {
    -webkit-transform: translateX(30px);
        -ms-transform: translateX(30px);
            transform: translateX(30px);
  }
  .pageContainer .contentField .block {
    margin-bottom: 30px;
  }
  .pageContainer .contentField .block .tabBox .tab {
    padding: 0px 10px;
    padding-top: 7px;
    padding-bottom: 2px;
  }
  .pageContainer .contentField .block .tabBox .tab .text {
    font-size: 14px;
  }
}

.nodata {
  margin: 0 auto;
  height: 500px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 20px;
}

.nodata * {
  -webkit-box-ordinal-group: 4;
  -webkit-order: 3;
      -ms-flex-order: 3;
          order: 3;
}

.nodata::before {
  content: "";
  width: 100px;
  height: 150px;
  background-image: url("../img/icon-nodone.svg");
  margin-bottom: 20px;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
      -ms-flex-order: 0;
          order: 0;
}

.nodata::after {
  content: attr(data-nodata);
  font-size: 1.5em;
  margin-bottom: 30px;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}

.swiper-pagination {
  bottom: -40px !important;
  left: 50% !important;
  -webkit-transform: translateX(-50%) !important;
      -ms-transform: translateX(-50%) !important;
          transform: translateX(-50%) !important;
}

.swiper-pagination .swiper-pagination-bullet {
  background-color: #eff3f5 !important;
  opacity: 1 !important;
  margin: 0 5px !important;
  -webkit-transition: width 0.1s ease;
  -o-transition: width 0.1s ease;
  transition: width 0.1s ease;
}

.swiper-pagination .swiper-pagination-bullet-active {
  width: 32px !important;
  border-radius: 5px !important;
}

@media screen and (max-width: 1023px) {
  .swiper-pagination {
    bottom: -35px !important;
  }
}

@media screen and (max-width: 768px) {
  .swiper-pagination {
    bottom: -30px !important;
  }
}

@media screen and (max-width: 480px) {
  .swiper-pagination {
    bottom: -20px !important;
  }
}

#navbar {
  width: 100%;
  height: 110px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  background-color: #FFFFFF;
  -webkit-transition: height 0.3s ease;
  -o-transition: height 0.3s ease;
  transition: height 0.3s ease;
  -webkit-box-shadow: 5px 5px 10px #00000060;
          box-shadow: 5px 5px 10px #00000060;
}

#navbar.reduce {
  height: 80px;
}

#navbar.reduce .container .logo {
  width: 200px;
}

#navbar .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 0 20px;
}

#navbar .container .logo {
  width: 250px;
  -webkit-transition: width 0.3s ease;
  -o-transition: width 0.3s ease;
  transition: width 0.3s ease;
}

#navbar .container .logo img {
  width: 100%;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  -o-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

#navbar .container .logo img:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

#navbar .container .navitem {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

#navbar .container .navitem .nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 30px;
  position: relative;
  height: 100%;
}

@media screen and (min-width: 1023px) {
  #navbar .container .navitem .nav.hasSub:hover .subNavItem {
    display: block;
  }
}

#navbar .container .navitem .nav.hasSub .subNavItem {
  display: none;
  position: absolute;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translate(-50%, 100%);
      -ms-transform: translate(-50%, 100%);
          transform: translate(-50%, 100%);
  background-color: #FFFFFF;
  -webkit-box-shadow: 5px 5px 5px #00000090;
          box-shadow: 5px 5px 5px #00000090;
}

#navbar .container .navitem .nav.hasSub .subNavItem .subNav {
  display: block;
  padding: 20px 40px;
  -webkit-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

#navbar .container .navitem .nav.hasSub .subNavItem .subNav:hover {
  background-color: #5099bf20;
}

#navbar .container .navitem .nav .name {
  color: #151B28;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
}

#navbar .container .navitem a .name {
  -webkit-transition: color 0.5s ease,-webkit-transform 0.5s ease;
  transition: color 0.5s ease,-webkit-transform 0.5s ease;
  -o-transition: color 0.5s ease,transform 0.5s ease;
  transition: color 0.5s ease,transform 0.5s ease;
  transition: color 0.5s ease,transform 0.5s ease,-webkit-transform 0.5s ease;
}

#navbar .container .navitem a:hover .name {
  color: #5099bf;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

#navbar .mobile {
  display: none;
}

#navbar #hambuger {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 6;
}

#navbar #hambuger .menu-icon {
  cursor: pointer;
  padding: 40px 40px;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: none;
}

#navbar #hambuger .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  -webkit-transition: background .2s ease-out;
  -o-transition: background .2s ease-out;
  transition: background .2s ease-out;
  width: 22px;
}

#navbar #hambuger .menu-icon .navicon:before, #navbar #hambuger .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  -webkit-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
  width: 100%;
}

#navbar #hambuger .menu-icon .navicon:before {
  top: 8px;
}

#navbar #hambuger .menu-icon .navicon:after {
  top: -8px;
}

#navbar #hambuger .menu-btn {
  display: none;
}

#navbar #hambuger .menu-btn:checked ~ .menu {
  max-height: 240px;
}

#navbar #hambuger .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

#navbar #hambuger .menu-btn:checked ~ .menu-icon .navicon:before {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#navbar #hambuger .menu-btn:checked ~ .menu-icon .navicon:after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

#navbar #hambuger .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
#navbar #hambuger .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

#navbar #nav_blackfield {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  background-color: #00000050;
  z-index: 4;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

@media screen and (max-width: 1023px) {
  #navbar {
    height: 80px;
  }
  #navbar .mobile {
    display: block;
  }
  #navbar .container {
    padding: 0;
  }
  #navbar .container .logo {
    width: 200px;
  }
  #navbar .container .navitem {
    display: block;
    width: 0vw;
    height: 100vh;
    overflow-y: scroll;
    margin: 0px;
    padding-top: 60px;
    -webkit-transition: width 0.5s ease;
    -o-transition: width 0.5s ease;
    transition: width 0.5s ease;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #FFFFFF;
    z-index: 5;
  }
  #navbar .container .navitem .nav {
    display: none;
    width: 100%;
    height: auto;
    margin: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #navbar .container .navitem .nav .name {
    padding: 30px 0;
    width: 100%;
    text-align: center;
  }
  #navbar .container .navitem .nav small {
    font-size: 16px;
  }
  #navbar .container .navitem .nav.hasSub.active > .name {
    color: #5099bf;
  }
  #navbar .container .navitem .nav.hasSub.active .subNavItem {
    max-height: 500px;
    background-color: #5099bf20;
  }
  #navbar .container .navitem .nav.hasSub .subNavItem {
    overflow: hidden;
    width: 100%;
    max-height: 0px;
    display: block;
    position: initial;
    bottom: initial;
    left: initial;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
    background-color: #FFFFFF;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transition: max-height 1s ease;
    -o-transition: max-height 1s ease;
    transition: max-height 1s ease;
  }
  #navbar .container .navitem .nav.hasSub .subNavItem .subNav {
    display: block;
    -webkit-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
  }
  #navbar .container .navitem .nav.hasSub .subNavItem .subNav .name {
    padding: 20px 0;
  }
  #navbar .container .navitem .nav.hasSub .subNavItem .subNav:hover {
    background-color: #5099bf20;
  }
  #navbar .container .navitem.active {
    width: 80vw;
  }
  #navbar .container .navitem.active .nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  #navbar #hambuger .menu-icon {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  #navbar {
    height: 60px;
  }
  #navbar .container {
    padding: 0;
  }
  #navbar .container .logo {
    width: 150px;
  }
  #navbar #hambuger .menu-icon {
    padding: 30px;
  }
}

#nav_gap {
  width: 100%;
  height: 110px;
}

#nav_gap.reduce {
  height: 80px;
}

@media screen and (max-width: 1023px) {
  #nav_gap {
    height: 80px;
  }
}

@media screen and (max-width: 768px) {
  #nav_gap {
    height: 60px;
  }
}

#footer {
  width: 100%;
  background-color: #4d4946;
  position: relative;
}

#footer .navField .navBox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #FFFFFF;
  padding-top: 50px;
  padding-bottom: 40px;
  position: relative;
}

#footer .navField .navBox .navBtn {
  margin: 0 15px;
  position: relative;
}

#footer .navField .navBox .navBtn p {
  color: #151B28;
  font-weight: 400;
}

#footer .navField .navBox .navBtn.active::after {
  content: '';
  position: absolute;
  top: -5px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #b5e494;
}

#footer .navField #pagetopIndex {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 1;
}

#footer .navField #pagetopIndex .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 65px;
  height: 65px;
  -webkit-box-shadow: 2px 2px 2px #00000050;
          box-shadow: 2px 2px 2px #00000050;
  border-radius: 50%;
  background-color: #FFFFFF;
}

#footer .navField #pagetopIndex .content .text {
  color: #BCBCBC;
  font-weight: 400;
  margin-top: -5px;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

#footer .navField #pagetopIndex .content .arrow {
  -webkit-transition: border-color 0.3s ease,margin 0.3s ease;
  -o-transition: border-color 0.3s ease,margin 0.3s ease;
  transition: border-color 0.3s ease,margin 0.3s ease;
  width: 15px;
  height: 15px;
  border-bottom: 3px solid #BCBCBC;
  border-left: 3px solid #BCBCBC;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
  margin-top: 7.5px;
}

#footer .navField #pagetopIndex:hover .content .text {
  color: #b5e494;
}

#footer .navField #pagetopIndex:hover .content .arrow {
  border-color: #b5e494;
  margin-top: -5px;
}

@media screen and (max-width: 768px) {
  #footer .navField #pagetopIndex .content {
    width: 50px;
    height: 50px;
  }
  #footer .navField #pagetopIndex .content .arrow {
    width: 10px;
    height: 10px;
    border-bottom: 2px solid #BCBCBC;
    border-left: 2px solid #BCBCBC;
    -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
            transform: rotate(135deg);
    margin-top: 5px;
  }
}

#footer .navField #pagetop {
  position: fixed;
  bottom: 20%;
  right: 0px;
  cursor: pointer;
  z-index: 1;
}

#footer .navField #pagetop .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 65px;
  height: 65px;
  background-color: #5098bf9a;
}

#footer .navField #pagetop .content .text {
  color: #FFFFFF;
  font-weight: 400;
  margin-top: -5px;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

#footer .navField #pagetop .content .arrow {
  width: 0;
  height: 0;
  border-style: solid;
  line-height: 0px;
  _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
  border-width: 0px 10px 17.32px 10px;
  border-color: transparent transparent #FFFFFF transparent;
  _border-color: #000000 #000000 #FFFFFF #000000;
  -webkit-transition: border-color 0.3s ease,margin 0.3s ease;
  -o-transition: border-color 0.3s ease,margin 0.3s ease;
  transition: border-color 0.3s ease,margin 0.3s ease;
  -webkit-transform: scaleY(0.6);
      -ms-transform: scaleY(0.6);
          transform: scaleY(0.6);
}

#footer .navField #pagetop:hover .content .text {
  color: #b5e494;
}

#footer .navField #pagetop:hover .content .arrow {
  margin-top: -10px;
  border-color: transparent transparent #b5e494 transparent;
}

@media screen and (max-width: 768px) {
  #footer .navField #pagetop .content {
    width: 50px;
    height: 50px;
  }
  #footer .navField #pagetop .content .arrow {
    width: 10px;
    height: 10px;
    border-bottom: 2px solid #BCBCBC;
    border-left: 2px solid #BCBCBC;
    -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
            transform: rotate(135deg);
    margin-top: 5px;
  }
}

@media screen and (max-width: 768px) {
  #footer .navField .navBox {
    display: none;
  }
}

#footer .contentbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 60px 40px;
}

#footer .contentbox h4 {
  color: #FFFFFF;
  font-weight: 500;
}

#footer .contentbox small {
  color: #FFFFFF;
  font-weight: 400;
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
}

#footer .contentbox .left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

#footer .contentbox .left .logoBox {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

#footer .contentbox .left .logoBox img {
  width: 60px;
  height: 60px;
  margin-right: 30px;
}

#footer .contentbox .left .copy, #footer .contentbox .left .design {
  margin-left: 90px;
}

#footer .contentbox .left .design {
  opacity: 0.3;
}

#footer .contentbox .right {
  height: auto;
  padding-left: 20%;
}

#footer .contentbox .right small {
  display: block;
  line-height: 20px;
  margin-bottom: 18px;
}

#footer .contentbox .right .share {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 5px;
}

#footer .contentbox .right .share a {
  margin-right: 10px;
}

#footer .contentbox .right .share a img {
  width: 40px;
  height: 40px;
}

#footer .contentbox .right .contact {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

#footer .contentbox .right .contact a {
  white-space: nowrap;
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  #footer .contentbox .left {
    padding-left: 0;
  }
  #footer .contentbox .left .logoBox img {
    margin-right: 10px;
    width: 45px;
    height: 45px;
  }
  #footer .contentbox .left .copy, #footer .contentbox .left .design {
    margin-left: 55px;
  }
  #footer .contentbox .right {
    padding-right: 0;
    padding-left: 10%;
  }
}

@media screen and (max-width: 580px) {
  #footer .contentbox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 50px 20px;
  }
  #footer .contentbox .left {
    padding-left: 0;
    margin-bottom: 20px;
  }
  #footer .contentbox .right {
    padding-left: 55px;
  }
}

@media screen and (max-width: 380px) {
  #footer .contentbox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 50px 10px;
  }
  #footer .contentbox .left {
    padding-left: 0;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 360px) {
  #footer .contentbox {
    padding: 50px 5px;
  }
}

#headBanner {
  width: 100%;
  position: relative;
}

#headBanner .bannerImg {
  width: 100%;
  padding-bottom: 40%;
}

#headBanner .bannerTitleBox {
  position: absolute;
  left: 50%;
  top: 30%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 0 20px;
}

#headBanner .bannerTitleBox .bannerTitle, #headBanner .bannerTitleBox .bannerSubTitle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #FFFFFF;
  font-weight: 400;
}

@media screen and (max-width: 1023px) {
  #headBanner .bannerTitleBox {
    top: 40%;
  }
}

.pageContainer .contentField {
  height: 600px;
}
