#headBanner{
    width: 100%;
    position: relative;
    .bannerImg{
        width: 100%;
        height: 75vh;
        @extend %background_100;
        @media screen and (max-width: 1023px) {
            height: auto;
            padding-bottom: 40%;
        }
    }
    .bannerTitleBox{
        position: absolute;
        left: 50%;
        top: 35%;
        transform: translate(-50%,-50%);
        padding: 0 20px;
        .bannerTitle,.bannerSubTitle{
            display: flex;
            justify-content: flex-end;
            color: $color_white_01;
            text-shadow: 5px 5px 10px #000000;
            font-weight: 500;
        }
        .bannerSubTitle{
            font-weight: 400;
        }
    }
	@media screen and (max-width: 1023px) {
        .bannerTitleBox{
            top: 40%;
        }
    }
}