/* ----------FUNCTION---------- */
//px轉rem，注意:若要改全站字體，請更改$font-change-html，不可改$font-ori-htm，那是初始設定
$font-ori-html:14;
$font-change-html:14;
$font-changeValue:$font-ori-html/$font-change-html;

@function pxToRem($px) {
	@return $px / ($font-ori-html*$font-changeValue)+rem;
}
/* ----------MININ---------- */
/*自訂scroll樣式 
參數:垂直ScrollBar寬，水平ScrollBar寬，Bar顏色，拖曳Bar顏色*/
@mixin scrollcontainer($width,$height,$barcolor,$thumbcolor) {
	overflow-y: auto;
	&::-webkit-scrollbar {
		-webkit-appearance: none;
	}
	&::-webkit-scrollbar:vertical {
		width: $width;
		background-color: $barcolor;
	}
	&::-webkit-scrollbar:horizontal {
		height: $height;
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 5px;
		background-color: $thumbcolor;
	}
}

@mixin fontSizeRWD($S, $S1023, $S768, $S480) {
	font-size: pxToRem($S);
	@media screen and (max-width: 1023px) {
		font-size: pxToRem($S1023);
	}
	@media screen and (max-width: 768px) {
		font-size: pxToRem($S768);
	}
	@media screen and (max-width: 480px) {
		font-size: pxToRem($S480);
	}
}

/*繪製三角形
參數:方向，邊長，顏色*/
@mixin triangle($direction,$length,$color) {
	//sqrt(3)
	$height:1.732 * $length;
	width: 0;
	height: 0;
	border-style: solid;
	line-height: 0px;
	_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
	@if($direction == 'up') {
		border-width: 0px $length $height $length;
		border-color: transparent transparent $color transparent;
		_border-color: #000000 #000000 $color #000000;
	}
	@else if($direction == 'down') {
		border-width: $height $length 0px $length;
		border-color: $color transparent transparent transparent;
		_border-color: $color #000000 #000000 #000000;
	}
	@else if($direction == 'left') {
		border-width: $length $height $length 0px;
		border-color: transparent $color transparent transparent;
		_border-color: #000000 $color #000000 #000000;
	}
	@else if($direction == 'right') {
		border-width: $length 0px $length $height;
		border-color: transparent transparent transparent $color;
		_border-color: #000000 #000000 #000000 $color;
	}	
}
@mixin arrow($direction,$length,$border,$color) {
	width: $length;
	height: $length;
	border-bottom: $border solid $color;
	border-left: $border solid $color;
	@if($direction=='up') {
		transform: rotate(135deg);
		margin-top: $length/2;
	}
	@else if($direction=='down') {
		transform: rotate(315deg);
		margin-bottom: $length/2;
	}
	@else if($direction=='left') {
		transform: rotate(45deg);
		margin-left: $length/2;
		
	}
	@else if($direction=='right') {
		transform: rotate(225deg);
		margin-right: $length/2;		
	}
}
@mixin Gradient($direction,$from,$to) {
	background: linear-gradient(to $direction, $from, $to);
}
@mixin textdot($lines) {
	overflow:hidden;
	text-overflow:ellipsis;
	display:-webkit-box;
	-webkit-line-clamp:$lines;
	-webkit-box-orient:vertical;
}

/* ----------Extend---------- */
/*background*/
%background_100 {
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
}
%background_100_100 {
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
}
%background_cover {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

/*hover*/

%hover_scale_105 {
	@media screen and (min-width: 768px) {
		transition: transform 0.3s ease;
		&:hover{
			transform: scale(1.05);	
		}
	}
}
%hover_scale_11 {
	@media screen and (min-width: 768px) {
		transition: transform 0.3s ease;
		&:hover{
			transform: scale(1.1);	
		}
	}
}


/*#region col*/
.col100 {
	width: 100%;
}

.col90 {
	width: 90%;
}

.col85 {
	width: 85%;
}

.col80 {
	width: 80%;
}

.col75 {
	width: 75%;
}

.col70 {
	width: 70%;
}

.col66 {
	width: 66.6666%;
}

.col65 {
	width: 65%;
}

.col60 {
	width: 60%;
}

.col55 {
	width: 55%;
}

.col50 {
	width: 50%;
}

.col45 {
	width: 45%;
}

.col40 {
	width: 40%;
}

.col35 {
	width: 35%;
}

.col30 {
	width: 30%;
}

.col33 {
	width: 33.3333%;
}

.col25 {
	width: 25%;
}

.col20 {
	width: 20%;
}

.col16 {
	width: 16.6666667%;
}

.col15 {
	width: 15%;
}
/*#endregion col*/


.w1920{
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
}
.w1200{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	@media screen and (max-width: 1023px) {
		width: 90%;
	}
}
.w800{
	width: 70%;
	max-width: 800px;
	margin: 0 auto;
	@media screen and (max-width: 1023px) {
		width: 90%;
	}
	@media screen and (max-width: 480px) {
		width: 95%;
	}
}

/* ----------Scrollbar Initial---------- */
::-webkit-scrollbar {
	-webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
	width: 4px;
	background-color: #A0A0A0;
}

::-webkit-scrollbar:horizontal {
	width: 4px;
}

::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: #f5f5f5;
}


/* ----------VARIABLES---------- */
/*color*/
$color_white_01:#FFFFFF;
$color_white_02:#eff3f5;
$color_grey_01:#BCBCBC;
$color_grey_02:#4d4946;
$color_grey_03:#8c8a8a;
$color_grey_04:#434343;
$color_grey_05:#6e6c6c;
$color_blue_01:#5197bd;
$color_blue_02:#5099bf;
$color_blue_03:#a7cbe6;
$color_blue_04:#1c5c8d;
$color_blue_05:#88bfe8;
$color_green_01:#b5e494;
$color_green_02:#1a6735;
$color_black_01:#151B28;

/*container*/
$container-minHeight:80px;

/* ----------Initial Setting---------- */
html{
	font-size: $font-ori-html+px;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font: inherit;
	color: inherit;
}

body {
	font-family: sans-serif;
	color: $color_black_01;
	background-color: $color_white_01;

	overflow-x: hidden;
}

@media screen and (max-width: 480px) {
	html {
		font-size: $font-ori-html - 0px ;
	}
}

a:link,
a:visited,
a:hover,
a:active {
	text-decoration: none;
}

/* ----------text---------- */


h1 {
	@include fontSizeRWD(38, 30, 26, 22);
	color: $color_black_01;
	line-height: 1.2;
	font-family: 'Noto Sans TC', sans-serif;
	font-weight: 300;
}

h2 {
	@include fontSizeRWD(36, 28, 24, 20);
	color: $color_black_01;
	line-height: 1.2;
	font-family: 'Noto Sans TC', sans-serif;
	font-weight: 300;
}
h3 {
	@include fontSizeRWD(30, 26, 22, 18);
	color: $color_black_01;
	line-height: 1.2;
	font-family: 'Noto Sans TC', sans-serif;
	font-weight: 300;
}

h4{
	@include fontSizeRWD(27, 24, 20, 18);
	color: $color_black_01;
	line-height: 1.2;
	letter-spacing: 5px;
	font-family: 'Noto Sans TC', sans-serif;
	font-weight: 300;
}
h5{
	@include fontSizeRWD(22, 20, 18, 16);
	color: $color_black_01;
	line-height: 1.2;
	letter-spacing: 5px;
	font-family: 'Noto Sans TC', sans-serif;
	font-weight: 300;
}
h6{
	@include fontSizeRWD(20, 18, 16, 15);
	color: $color_black_01;
	line-height: 1.2;
	letter-spacing: 2px;
	font-family: 'Noto Sans TC', sans-serif;
	font-weight: 300;
}

p,
ul,
li,
label,
input,
textarea
{
	@include fontSizeRWD(18, 16, 15 ,14);
	color: $color_black_01;
	line-height: 1.6;
	letter-spacing: 2px;
	font-family: 'Noto Sans TC', sans-serif;
	letter-spacing: 1;
	font-weight: 300;
}
a,span,strong{
	font-family: inherit;
	font-size: inherit;
	letter-spacing: inherit;
	color: inherit;
	line-height: inherit;
}
strong{
	font-weight: 500;
}
small{
	@include fontSizeRWD(16, 14, 13, 12);
	color: $color_black_01;
	line-height: 1.6;
	font-family: 'Noto Sans TC', sans-serif;
	font-weight: 300;
}
input,
textarea{
	padding: 0 10px;
}
textarea{
	padding-top: 10px;
}


//public component
.dash {
	width: 40px;
	height: 1px;
	background-color: $color_blue_01;
	margin-top: 10px;
	margin-bottom: 15px;
}
.bread{
	margin-top: 20px;
	margin-bottom: 40px;
	.content{
		font-size: 0.8rem;
		color: #00000080;
	}
	@media screen and (max-width: 1023px) {
		margin-bottom: 0px;
		.content {
			display: none;
		}
	}
}
.pagebtnbox{
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	.preBtn,.nextBtn,.pageBtn{
		display: block;
		margin: 0 20px;
		@extend %hover_scale_11;
	}
	.pageBtn{
		@include fontSizeRWD(20, 18, 16, 15);
		&.active{
			color: $color_blue_01;
		}
	}
	.preBtn,.nextBtn{
		width: 15px;
		height: 20px;
		@extend %background_100_100;
		background-image: url('../img/icon/arrowPage-left.png');
	}
	.nextBtn{
		background-image: url('../img/icon/arrowPage-right.png');
	}
	@media screen and (max-width: 768px){
		.preBtn,.nextBtn,.pageBtn{
			margin: 0 15px;
		}
	}
	@media screen and (max-width: 480px){
		.preBtn,.nextBtn,.pageBtn{
			margin: 0 10px;
		}
	}
}
.pageContainer{
	position: relative;
	width: 100%;
	background-color: #cbd8e0;
	padding: 20px 60px;
	&::before{
		content: '';
		width: 100%;
		position: absolute;
		left: 0;
		top: 2px;
		padding-bottom: 12%;
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: center;
		background-image: url('../img/common/banner-wave.png');
		transform: translateY(-100%);
	}
	.headField{
		display: flex;
		justify-content: space-between;
		margin-bottom: 70px;
		.titleBox{
			display: flex;
			align-items: flex-end;
			.title{
				margin-right: 15px;
				color: $color_blue_02;
				font-weight: 500;
				position: relative;
				&::before{
					content: '';
					position: absolute;
					left:-10px;
					top: 50%;
					width: 50px;
					height: 25px;
					transform: translate(-100%,-50%);
					background-size: 100% 100%;
					background-repeat: no-repeat;
					background-position: center;
					background-image: url('../img/icon/title-mark.png');
				}
			}
			.subTitle{
				color: $color_grey_03;
				font-weight: 500;
			}
		}
	}
	.contentField{
		.block{
			margin-bottom: 50px;
			.titleBox{
				display: flex;
				flex-wrap: wrap;
				.text{
					line-height: 40px;
					margin-bottom: 15px;
					margin-right: 20px;
				}
			}
			.text{
				&,*{
					line-height: 40px;
				}
				&.bold{
					font-weight: 400;
				}
				&.blue{
					color: $color_blue_02;
				}
			}
			img{
				display: block;
				height: auto;
				max-width: 100%;
				&.fit-content{
					height: fit-content;
				}
			}
			.flexBox{
				width: 100%;
				display: flex;
				flex-wrap: wrap;
				&.nowrap{
					flex-wrap: nowrap;
				}
				&.center{
					justify-content: center;
				}
				&.end{
					justify-content: end;
				}
				@media screen and (max-width: 1023px) {
					&:not(.nowrap){
						.text,img{
							width: 100%;
							margin-right: 0px;
							margin-bottom: 20px;
							&.col90,
							&.col85,
							&.col80,
							&.col75,
							&.col70,
							&.col66,
							&.col65,
							&.col60,
							&.col55,
							&.col50,
							&.col45,
							&.col40,
							&.col35,
							&.col30,
							&.col33,
							&.col25,
							&.col20,
							&.col16,
							&.col15 {
								width: 100%;
							}
						}
						img{
							max-width: 100%;
							&.col90,
							&.col85,
							&.col80,
							&.col75,
							&.col70,
							&.col66,
							&.col65,
							&.col60,
							&.col55,
							&.col50,
							&.col45,
							&.col40,
							&.col35,
							&.col30,
							&.col33,
							&.col25,
							&.col20,
							&.col16,
							&.col15 {
								max-width: 100%;
							}
						}
					}
				}

			}
			.col100 {
				max-width: 100%;
				width: calc(100% - 10px);
				margin-right: 10px;
				margin-bottom: 10px;
			}
			.col90 {
				max-width: 90%;
				width: calc(90% - 10px);
				margin-right: 10px;
				margin-bottom: 10px;
			}
			.col85 {
				max-width: 85%;
				width: calc(85% - 10px);
				margin-right: 10px;
				margin-bottom: 10px;
			}				
			.col80 {
				max-width: 80%;
				width: calc(80% - 10px);
				margin-right: 10px;
				margin-bottom: 10px;
			}				
			.col75 {
				max-width: 75%;
				width: calc(75% - 10px);
				margin-right: 10px;
				margin-bottom: 10px;
			}				
			.col70 {
				max-width: 70%;
				width: calc(70% - 10px);
				margin-right: 10px;
				margin-bottom: 10px;
			}				
			.col66 {
				max-width: 66.6666%;
				width: calc(66.6666% - 10px);
				margin-right: 10px;
				margin-bottom: 10px;
			}				
			.col65 {
				max-width: 65%;
				width: calc(65% - 10px);
				margin-right: 10px;
				margin-bottom: 10px;
			}				
			.col60 {
				max-width: 60%;
				width: calc(60% - 10px);
				margin-right: 10px;
				margin-bottom: 10px;
			}				
			.col55 {
				max-width: 55%;
				width: calc(55% - 10px);	
				margin-right: 10px;
				margin-bottom: 10px;
			}				
			.col50 {
				max-width: 50%;
				width: calc(50% - 10px);
				margin-right: 10px;
				margin-bottom: 10px;
			}				
			.col45 {
				max-width: 45%;
				width: calc(45% - 10px);
				margin-right: 10px;
				margin-bottom: 10px;
			}				
			.col40 {
				max-width: 40%;
				width: calc(40% - 10px);
				margin-right: 10px;
				margin-bottom: 10px;
			}				
			.col35 {
				max-width: 35%;
				width: calc(35% - 10px);
				margin-right: 10px;
				margin-bottom: 10px;
			}				
			.col30 {
				max-width: 30%;
				width: calc(30% - 10px);
				margin-right: 10px;
				margin-bottom: 10px;
			}				
			.col33 {
				max-width: 33.3333%;
				width: calc(33.3333% - 10px);
				margin-right: 10px;
				margin-bottom: 10px;
			}				
			.col25 {
				max-width: 25%;
				width: calc(25% - 10px);
				margin-right: 10px;
				margin-bottom: 10px;
			}				
			.col20 {
				max-width: 20%;
				width: calc(20% - 10px);
				margin-right: 10px;
				margin-bottom: 10px;
			}				
			.col16 {
				max-width: 16.6666667%;
				width: calc(16.6666667% - 10px);
				margin-right: 10px;
				margin-bottom: 10px;
			}				
			.col15 {
				max-width: 15%;
				width: calc(15% - 10px);
				margin-right: 10px;
				margin-bottom: 10px;
			}
		}
	}
	@media screen and (max-width: 768px) {
		padding: 20px 40px;
		.headField{
			margin-bottom: 50px;
			.titleBox{
				transform: translateX(30px);
			}
		}
	}
	@media screen and (max-width: 480px) {
		padding: 20px;
		.headField{
			margin-bottom: 30px;
			.titleBox{
				transform: translateX(30px);
			}
		}
	}
}



//後台編輯區塊
.BackEditArea {
	// * {
	// 	font-family: 'Noto Sans TC', sans-serif;
	// 	font-weight: 300;
	// 	font-size: pxToRem(18) !important;
	// 	line-height: 1.6 !important;
	// }
	// strong{
	// 	font-weight: 500;
	// }
}

//無資料
.nodata {
	* {
		order: 3;
	}

	&::before {
		content: "";
		width: 100px;
		height: 150px;
		@extend %background_100;
		background-image: url('../img/icon-nodone.svg');
		margin-bottom: 20px;
		order: 0;
	}

	&::after {
		content: attr(data-nodata);
		font-size: 1.5em;
		margin-bottom: 30px;
		order: 1;
	}

	margin: 0 auto;
	height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 0 20px;
}

//swiper
.swiper-pagination{
	bottom: -40px !important;
	left: 50% !important;
	transform: translateX(-50%) !important;
	.swiper-pagination-bullet {
		background-color: $color_white_02 !important;
		opacity: 1!important;
		margin: 0 5px !important;
		transition: width 0.1s ease;
	}
	.swiper-pagination-bullet-active {
		width: 32px !important;
		border-radius: 5px !important;
	}
	@media screen and (max-width: 1023px) {
		bottom: -35px !important;
	}
	@media screen and (max-width: 768px) {
		bottom: -30px !important;
	}
	@media screen and (max-width: 480px) {
		bottom: -20px !important;
	}
}

