$color-background:$color_white_01;
$color-darkgray:$color_grey_01;

#navbar {
	width: 100%;
	height: 110px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 20;
	background-color: $color-background;
	transition: height 0.3s ease;
	box-shadow: 5px 5px 10px #00000060;
	&.reduce{
		height: 80px;
		.container{
			.logo {
				width: 200px;
			}
			
		}
	}
	.container{
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100%;
		padding: 0 20px;
		.logo {
			width: 250px;
			transition: width 0.3s ease;
			img {
				width: 100%;
				transition: transform 0.5s ease;
				&:hover {
					transform: scale(1.05);
				}
			}
		}
		.navitem {
			display: flex;
			align-items: center;
			height: 100%;
			.nav {
				display: flex;
				align-items: center;
				justify-content: center;
				margin-left: 30px;
				position: relative;
				height: 100%;
				&::before{
					content: '';
					position: absolute;
					left:0;
					bottom: 0;
					width: 0%;
					height: 3px;
					background-color: $color_green_01;
					transition: width 0.3s ease;
				}
				&.active{
					&::before{
						width: 100%;
					}
				}
				&:hover{
					&::before{
						width: 100%;
					}
				}
				&.hasSub{
					.mobile{
						display: none;
					}
					@media screen and (max-width: 1023px) {
						.pc{
							display: none;
						}
						.mobile{
							display: block;
						}
					}
					@media screen and (min-width: 1023px) {
						&:hover{
							.secondNavItem{
								display: block;
							}
						}
					}
					.secondNavItem{
						display: none;
						position: absolute;
						bottom: 0px;
						left: 50%;
						transform: translate(-50%,100%);
						background-color: $color_white_01;
						box-shadow: 2px 2px 3px #00000090;
						.secondNav{
							display: block;
							padding: 12px 35px;
							transition: background-color 0.3s ease;
							position: relative;
							&.hasSub{
								&::after{
									content: '';
									width: 10px;
									height: 15px;
									background-size: 100% 100%;
									background-repeat: no-repeat;
									background-position: center;
									background-image: url('../img/icon/arrowPage-left.png');
									position: absolute;
									top:50%;
									left:10px;
									transform: translateY(-50%);
									opacity: 0.6;
									transition: transform 0.3s ease;
								}
							}
							@media screen and (min-width: 1023px) {
								&:hover{
									background-color: #5099bf20;
								}
							}
							.thirdNavItem{
								position: absolute;
								top: 0px;
								left: 0;
								transform: translate(-100%,0);
								background-color: $color_white_01;
								box-shadow: 2px 2px 3px #00000090;
								.thirdNav{
									display: block;
									padding: 12px 40px;
									transition: background-color 0.3s ease;
									@media screen and (min-width: 1023px) {
										&:hover{
											background-color: #5099bf20;
										}
									}
								}
							}
						}
					}
				}
				.name{
					color: $color_black_01;
					font-weight: 400;
					text-align: center;
					white-space: nowrap;
					@media screen and (max-width: 1023px) {
						white-space:initial;
					}
				}
			}
			a{
				.name{
					transition: color 0.5s ease,transform 0.5s ease;
				}
				&:hover {
					.name{
						color: $color_blue_02;
						transform: scale(1.1);
					}
				}
			}
		}
	}
	.mobile {
		display: none;
	}
	#hambuger {
		position: absolute;
		right: 0;
		top: 0;
		z-index: 6;

		.menu-icon {
			cursor: pointer;
			padding: 40px 40px;
			position: relative;
			user-select: none;
			display: none;

			//navicon >> 三條線
			.navicon {
				background: #333;
				display: block;
				height: 2px;
				position: relative;
				transition: background .2s ease-out;
				width: 22px;

				&:before,
				&:after {
					background: #333;
					content: '';
					display: block;
					height: 100%;
					position: absolute;
					transition: all .2s ease-out;
					width: 100%;
				}

				&:before {
					top: 8px;
				}

				&:after {
					top: -8px;
				}
			}
		}

		.menu-btn {
			display: none;

			&:checked~.menu {
				max-height: 240px;
			}

			&:checked~.menu-icon .navicon {
				background: transparent;
			}

			&:checked~.menu-icon .navicon:before {
				transform: rotate(-45deg);
			}

			&:checked~.menu-icon .navicon:after {
				transform: rotate(45deg);
			}

			&:checked~.menu-icon:not(.steps) .navicon:before,
			&:checked~.menu-icon:not(.steps) .navicon:after {
				top: 0;
			}
		}
	}
	#nav_blackfield {
		display: none;
		position: fixed;
		width: 100vw;
		height: 100vh;
		top: 0;
		right: 0;
		background-color: #00000050;
		z-index: 4;
		opacity: 0;
		transition: opacity 0.5s ease;
	}
	@media screen and (max-width: 1023px) {
		height: 80px;
		.mobile {
			display: block;
		}
		.container{
			padding: 0;
			.logo {
				width: 200px;
			}
			.navitem {
				display: block;
				width: 0vw;
				height: 100vh;
				overflow-y: scroll;
				margin: 0px;
				padding-top: 60px;
				transition: width 0.5s ease;
				position: fixed;
				top: 0;
				right: 0;
				background-color: $color-background;
				z-index: 5;
				.nav {
					display: none;
					width: 100%;
					height: auto;
					margin: 0px;
					flex-direction: column;
					.name{
						padding: 30px 0;
						width: 100%;
						text-align: center;
					}
					small{
						font-size: 16px;
					}
					&::before{
						display: none;
					}
					&.hasSub{
						&::after{
							content: '';
							width: 10px;
							height: 15px;
							background-size: 100% 100%;
							background-repeat: no-repeat;
							background-position: center;
							background-image: url('../img/icon/arrowPage-left.png');
							position: absolute;
							top: 35px;
							left: initial;
							right: 25px;
							opacity: 0.6;
							transition: transform 0.3s ease;
						}
						&.active{
							&::after{
								transform: rotate(-90deg);
							}
							>.name{
								color: $color-blue-02;
							}
							.secondNavItem{
								max-height: 1000px;
							}
						}
						.secondNavItem{
							overflow: hidden;
							width: 100%;
							max-height: 0px;
							display: block;
							position: initial;
							bottom: initial;
							left: initial;
							transform: translate(0,0);
							background-color: #5099bf20;
							box-shadow: none;
							transition: max-height 1s ease;
							.secondNav{
								display: block;
								transition: background-color 0.3s ease;
								.name{
									padding: 20px 0;
								}
								@media screen and (min-width: 1023px) {
									&:hover{
										background-color: #5099bf20;
									}
								}
								&.hasSub{
									&::after{
										content: '';
										width: 10px;
										height: 15px;
										background-size: 100% 100%;
										background-repeat: no-repeat;
										background-position: center;
										background-image: url('../img/icon/arrowPage-left.png');
										position: absolute;
										top: 42.5px;
										left: initial;
										right: 25px;
										opacity: 0.6;
										transition: transform 0.3s ease;
									}
									&.active{
										&::after{
											transform: rotate(-90deg) translateX(5px);
										}
										>.name{
											color: $color-blue-02;
										}
										.thirdNavItem{
											max-height: 1000px;
										}
									}
									.thirdNavItem{
										display: block;
										position: initial;
										bottom: initial;
										left: initial;
										transform: translate(0,0);
										box-shadow: none;
										max-height: 0px;
										overflow: hidden;
										transition: max-height 1s ease;
										.thirdNav{
											display: block;
										}
									}
								}
							}
						}
					}
				}
				&.active {
					width: 80vw;
					.nav {
						display: flex;
					}
				}
			}
		}
		#hambuger .menu-icon {
			display: block;
		}
	}
	@media screen and (max-width: 768px) {
		height: 60px;
		.container{
			padding: 0;
			.logo {
				width: 150px;
			}
		}
		#hambuger {
			.menu-icon {
				padding: 30px;
			}
		}
	}
}
#nav_gap {
	width: 100%;
	height: 110px;
	&.reduce{
		height: 80px;
	}
	@media screen and (max-width: 1023px) {
		height: 80px;
	}
	@media screen and (max-width: 768px) {
		height: 60px;
	}
}